.history-section {
  background-color: var(--color-primary-light);
  padding: var(--space-lg);
  border-radius: var(--radius-lg);
  height: fit-content;
  border: 2px solid var(--color-primary-hover);
  box-shadow: var(--shadow);
}

app-budget-search {
  display: block;
  margin-bottom: 2rem;
}

app-budget-list {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}
