.overlay {
  position: fixed;
  inset: 0; /* Ocupa tot */
  background: rgba(0, 0, 0, 0.6);
  backdrop-filter: blur(4px);
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 10000;
  padding: 1rem;
}

.modal {
  background: white;
  padding: 2rem;
  border-radius: var(--radius);
  max-width: 500px;
  width: 100%;
  box-shadow: 0 20px 40px rgba(0,0,0,0.2);
}

.close-btn {
  float: right;
  border: none;
  background: #eee;
  padding: 0.5rem 0.8rem;
  border-radius: 4px;
  cursor: pointer;
  font-weight: bold;
}
