.main-layout {
  display: grid;
  grid-template-columns: 1fr;
  gap: var(--space-lg);
  max-width: var(--max-width);
  margin: 0 auto;
  padding: var(--space-md);
}

.main-layout section {
  text-align: center;
  color: var(--color-primary-hover)
}

app-budget-calculator, app-budget-form, app-budget-history {
  display: block;
  max-width: 800px;
  margin: 0 auto;
  width: 100%;
}

/* BREAKPOINT 1: Tablets (768px) */
@media (min-width: 768px) {
  .main-layout {
    padding: var(--space-lg);
    max-width: var(--max-width);
  }
}

/* BREAKPOINT 2: Desktop (1024px) */
@media (min-width: 1024px) {
  .main-layout {
    align-items: start;
    padding: var(--space-xl) var(--space-md);
    max-width: var(--max-width);
  }

  app-budget-history { position: sticky; top: var(--space-lg); }
}


